.titre{
    text-align: center;
    font-size: $fontSize +12;
}
.la-Note__bloc{
    @include boxShadow;
    @include Bloc_Principal(#fcdfdb);
    color:#3d1319;
    .titre_primaire{ 
        @include titre_primaire(#3d1319);
        font-family:'Mansalva', cursive, Arial, sans-serif;
    }
    h2{
        @include titre_Secondaire(35px);
       font-family:'Mansalva', cursive, Arial, sans-serif;
    }section{
       @include section(5);
       font-family:'Cormorant Infant', cursive, Arial, sans-serif;
    }.titre_secondaire{
        font-size: $fontSize + 15;
    }span{
        float:right;
    }
}
