@import'_Normalize.scss';
@import url('https://fonts.googleapis.com/css?family=Cormorant+Infant|Indie+Flower|Kaushan+Script|Mansalva&display=swap');
@import '_layout.scss';
body{
    width:1300px;
    margin: auto;
    position: relative;
}
header{
    background:$colorBack;
    text-align: center;
    color:$colorFont;
    height: 196px;
    margin-top:0px;
    a{
        color:$colorFont;
        text-decoration: none;
    }
    h1{
        font-size: 68pt;
        padding:36px 0px 36px 0px;
        margin:0px;
    }
}
.index__bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    section{
        width:440px;
        height: 614px;
        margin:81px auto 0px auto;
        text-align:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            color:black;
        }
        @include boxShadow;
            &:first-of-type{
            background:#fcdfdb ;
            font-family: 'Mansalva', cursive, Arial, sans-serif;
                h2{
                    display: flex;
                    flex-direction: column;
                    .fa-music{
                        color:linear-gradient(#f04c5f, #f6916a);
                        
                    }   
                }
            }&:nth-of-type(2){
                background:#fff5fe ;
                font-family: 'Cormorant Infant', cursive, Arial, sans-serif;
            }&:nth-of-type(3){
                background:#f9f9f9 ;
                font-family: 'Dancing Script', cursive, Arial, sans-serif;
            }&:last-of-type{
                background:#fdfffd;
                font-family: 'Kaushan Script', cursive, Arial, sans-serif;
            }
    }       
}
.transition-menu{
    transform: scale(1);
    transition:all 1s linear;
    opacity:1;
    &:hover{
        transform:scale(1.5);
        opacity:0.5;
    }
}

/*Prochainement*/

div.btn{
        margin:81px auto 200px;
        width:300px;
        position: relative;
        button{
            width:100%;   
            background:$colorBack;
            color:#fdcb46;
            font-size:$fontSize + 15;
            padding:18px;
            text-align:center;
            border-radius:0.5em;
            transform: scale(1);
            transition: all .5s ease;
            z-index:1;
            &:hover{
                transform:scale(1.1);
                &::after{
                    opacity: 1;
                }
            }
            &::after{
                content:"";           
                background-color: darken($colorBack, 10);
                border-radius: 0.5em;
                position: absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                z-index: -1;
                transition: all .5s ease;
                opacity: 0;
            }
        }
}
footer{
    background:$colorBack;
    display: flex;
    justify-content: space-around;
    font-size:$fontSize + 15;
    height: 80px;
    width: 100%;
    color:$colorFont;
    max-width: 1300px;
    position: fixed;
    bottom:0.1px;
    h5{
        width:30%;
        margin:auto;
    }
    a{
        color:$colorFont;
    }
}
@import'_laNote.scss';
@import'_leChic.scss';
@import'_leDelice.scss';
@import'_laPalette.scss';
@import'_mentionslegales.scss';

