          
@media (max-width:576px){
    header{
        width:100%;
        h1{
            font-size: 50pt;
        }
    }
    .titre{
    text-align: center;
    font-size: medium;
    }
    .la-Note__bloc, .le-Chic__bloc, .la-Palette__bloc, .le-Delice__bloc{
        max-width:92%;
        padding:0px;
        margin:10px auto 90px;
        height:100%;
        .titre_primaire{
            margin-top:15px;
            padding-top: 15px;
            font-size: 23px;
        }h2{
            font-size: 11px;
            margin: 10px 0px 0px 0px;
        }.Note-img{
            width:100px;
        }section{
            width:95%;
            padding:0px 10px;
            font-size:small;
            line-height: 1.75;
            margin-top:10px;
            div{
                display: flex;  
            }
            p{
                width:90%;
            }
            span{
                margin-top:17px;
            }
            .titre_secondaire{
                font-size: large;
                margin:10px 0px 20px;
            }
        }h3{
            font-size: 20px;
            padding: 20px;
        }
    }.button{
        width:200px;
        font-size:16px;
        padding: 10px;
    }footer{
        font-size: 18px;
    }
}
@media  all and (min-width:577px) and (max-width:768px){ 
    h1{
        font-size: 54pt;
    }
    .titre{
    text-align: center;
    font-size: x-large;
    }
    .la-Note__bloc, .le-Chic__bloc, .la-Palette__bloc, .le-Delice__bloc{
        max-width:95%;
        padding:0px;
        margin:0px auto 100px;
        height:100%;
        .titre_primaire{
            margin-top:20px;
            padding-top: 20px;
            font-size: 38px;
        }h2{
            font-size: 24px;
            margin:20px 0px;
        }.Note-img{
            width:150px;
        }section{
            width:95%;
            font-size:medium;
            line-height: 1.75;
            margin-top:20px;
            div{
                display: flex;   
            }
            p{
                width:90%;
            }span{
                margin: 17px 0px 0px 10px;
            }.titre_secondaire{
                font-size: 33px;
                margin:20px 0px 40px;
            }
        }
        h3{
            font-size: 2px;
            padding: 20px;
        } 
    }
    .button{
        width:180px;
        font-size:22px;
        padding: 15px;
    }
    footer{
        font-size: 22px;
    }
}
@media  all and (min-width:769px) and (max-width:992px){
    .la-Note__bloc, .le-Chic__bloc, .la-Palette__bloc, .le-Delice__bloc{
        max-width:95%;
        padding:0px;
        margin:0px auto 150px;
        height:100%;
        .titre_primaire{
            margin-top:40px;
            padding-top: 30px;
        }
        .Note-img{
            width:200px;
        }
        h2{
            font-size: 38px;
        }
    }
    .button{
        width:250px;
        font-size:26px;
        padding: 15px;
    }footer{
        font-size: 26px;
    }h3{
        font-size: 28px;
        padding: 20px;
    }

}
@media (min-width:1300px){
    body{
        max-width:1290px;
        margin: auto;
    }

}
