$colorBack:#579c87;
$colorFont:#fdcb46;
$fontSize:22px;

a{
    text-decoration: none;
}/*color dégradé*/
@mixin gradient ($direction, $grColor1, $grColor2){
    background: linear-gradient($direction, $grColor1, $grColor2);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text ;
}
@mixin souligne($direction, $color1, $color2){
    background:linear-gradient($direction, $color1, $color2, transparent 5px) no-repeat;
    background-size: 0% 100%;
    transition:background-size .5s linear;
}
@mixin boxShadow{
    -webkit-box-shadow: -2px 3px 18px -2px rgba(122,117,122,1);
        -moz-box-shadow: -2px 3px 18px -2px rgba(122,117,122,1);
            box-shadow: -2px 3px 18px -2px rgba(122,117,122,1);
}

@mixin Bloc_Principal($color){/*Main*/
    max-width:70%;
    margin:0px auto;
    padding:20px 100px;
    background:$color;
    height:1684px;
}
/*contenu séparatif entre le bloc principal et le footer*/
@mixin after{
    content:"";
    margin:0px auto 100px;   
}
 
@mixin titre_Secondaire($size){ /*h2*/
    display: flex;
    justify-content: space-between;
    font-size:$size;
    margin-top:95px;
}
@mixin titre_primaire($color){ /*h1 des pages menu*/
    display: flex;
    flex-direction: column;
    font-size:$fontSize + 20px ;
    margin: 156px auto 95px auto;
    font-family: $color;
    text-align: center;
}
@mixin section($f-size){ /*Pesonalisation des section dans les pages*/
    width:100%;
    font-size:$fontSize + $f-size;
    line-height: 44px;
    margin-bottom:136px;
}

