          
@media  all and (max-width:480px){
    /*LA PAGE INDEX .HTML*/
    header{
        height:100px;
        width:100%;
        h1{
            font-size: 32pt;
            line-height: 1.15;
        }
    }
    .index__bloc{
        width:90%;
        padding:10px;
        margin:0px auto;

            h2, h3{
                font-size: medium;
            }
    }
    .button{
        width:200px;
        font-size:medium;
    }
    footer{
        width:100%;
        justify-content: space-around;

        h5{
            font-size: medium;
        }
    } 
     /*LA NOTE ENCHANTEE*/
.titre{
    text-align: center;
    font-size: medium;
}
.la-Note__bloc, .la-Palette__bloc, .le-Chic__bloc, .le-Delice__bloc, .mentions-legales__bloc{
    width:100%;
    padding:5px;
    margin:0px auto;
    height:100%;
    .titre_primaire{
        margin: 10px 0px 20px;
        font-size: large;
    }h2{
        font-size: medium;
        margin-top: 10px;
    }section{
        width:100%;
        padding:0px 5px;
        font-size:small;
        line-height: 1.75;
        margin-bottom:26px;
    }.titre_secondaire{
        font-size: large;
        margin:10px 0px 20px;
    } @include after;
}
}
@media  all and (max-width:1070px){
    /*LA PAGE INDEX .HTML*/
    header{
        height:100px;
        width:100%;
        h1{
            font-size: 54pt;
        }
    }
    .index__bloc{
        width:90%;
        padding:10px;
        margin:0px auto;

            h2, h3{
                font-size: medium;
            }
    }
    .button{
        width:200px;
        font-size:large;
    }
    footer{
        width:100%;
        justify-content: space-around;

        h5{
            font-size: medium;
        }
    } 
     /*LA NOTE ENCHANTEE / LA PALETTE /LE DELICE/ LE CHIC */
.titre{
    text-align: center;
    font-size: large;
}
.la-Note__bloc, .la-Palette__bloc, .le-Chic__bloc, .le-Delice__bloc, .mentions-legales__bloc{
    width:100%;
    padding:5px;
    margin:0px auto;
    height:100%;
    .titre_primaire{
        margin: 20px 0px 40px;
        font-size: x-large;
    }h2{
        font-size: large;
        margin-top: 20px;
    }section{
        width:95%;
        padding:0px 5px;
        font-size:medium;
        line-height: 1.75;
        margin-bottom:46px;
    }.titre_secondaire{
        font-size: large;
        margin:20px 0px 40px;
    } @include after;
}

}