
$mediumDevices:"(min-width: 768px)";
$largeDevices:"(max-width: 992px)";
.fa-music{
    background: linear-gradient(#f04c5f, #f6916a);
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
.index__bloc{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    section{
        width:440px;
        height: 614px;
        margin:81px auto 0px auto;
        text-align:center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include prefixer(box-shadow, -2px 3px 18px -2px rgba(122,117,122,1), webkit moz o ms);
        h2{
            font-size:31px;
        }
            &:first-of-type{
            background:#fcdfdb ;
            font-family: 'Mansalva', cursive, Arial, sans-serif;
                h2{
                    display: flex;
                    flex-direction: column;
                }h3, a{
                    color:#531621;
                }
            }&:nth-of-type(2){
                background:#fff5fe ;
                font-family: 'Cormorant Infant', cursive, Arial, sans-serif;
                h2{
                    @include gradient(to right, #e38a12, #8f5aff);
                }h3, a{
                    color:#e38a12;
                }
            }&:nth-of-type(3){
                background:#f9f9f9 ;
                font-family: 'Dancing Script', cursive, Arial, sans-serif;
                h2, a{
                    @include gradient(to right, #0023db, #0887fb);
                }h3, a{
                    color:#0887fb;
                }
            }&:last-of-type{
                background:#fdfffd;
                font-family: 'Kaushan Script', cursive, Arial, sans-serif;
                h2{
                    @include gradient(to right, #3e923a 5% , #beff7f);
                }h3, a{
                    color:#3e923a;
                }
            }
    }
    @media (max-width: 576px) { 
        section{
            margin:20px 20px 0px;
            width:80%;
            height:500px;
            h2, h3{
                font-size: 17px;
            }
        }
    }
    @media (min-width:577px) and (max-width:768px){
        section{
            width:45%;
            height:400px;
            h2, h3{
                font-size: 17px;
            }
        }
    }
    @media (min-width:768px) and (max-width:992px){
        section{
            height:500px;
            width:350px;
            h2, h3{
                font-size: 22px;
            }
        }
    }
}