
.le-Chic__bloc{
    @include boxShadow;
    @include Bloc_Principal(#fff5fe);
    height:100%;
    .titre_primaire{ 
        @include gradient(to right, #e38a12, #8f5aff);
        @include titre_primaire(black);
        font-family: 'Cormorant Infant', cursive, Arial, sans-serif;
    }section{
        @include section;
        h2{
            @include titre_Secondaire(22px);
            .souligne{
                font-family: 'Cormorant Infant', cursive, Arial, sans-serif;
                @include souligne(to top, #8f5aff 0%, #e38a12 4px);
                &:hover{
                    background-size: 100% 100%;
                }
            }
        }
    }.Note-img{
        width:250px;
    }div{
        display: flex;
    }p{
            width:90%;
    }span{
            margin-top:20px;
    }section:first-of-type{
    color:#e38a12;
    }section:nth-of-type(2){
        color:#a56799;
    }section:last-of-type{
        color:#6e4ccc;
    }@include after;  
}