.mentions-legales__bloc{
    @include Bloc_Principal(#fff);
    height:100%;
    @include prefixer(box-shadow, -2px 3px 18px -2px rgba(122,117,122,1), webkit moz o ms);
    @include section;
    h1{
        @include titre_primaire(black);
        font-size:2em;
    }a{
        color:$colorFont;
    }@include after; 
}